ENVIRONMENT=development
DATABASE_URL=
DATABASE_NAME=
ADMIN_EMAIL=
ADMIN_USERNAME=
ADMIN_PASSWORD=
REACT_APP_BASE_URL=http://localhost:3000/
REACT_APP_PORT=8000
SECRET=
ADMIN_PARTY=false
API_REQUEST_TIMEOUT=60000
JWT_SESSION=false
DETECT_HATE_SPEECH=false
SOCKET_FRONTEND_PORT=37778
TRUEMEDIA_KEY=

 