ENVIRONMENT=development


DATABASE_URL=
DATABASE_NAME=

# Admin Account 
ADMIN_EMAIL=
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_PARTY=false

# JWT Auth Configs
SECRET=
JWT_SESSION= # boolean

# WebAuthn Configs
RP_ID=      # domain, e.g. localhost for dev env
RP_NAME=    # name to identify server / application
ORIGIN=     # host, e.g. http://localhost:8000 for dev env
MFA_REQUIRE_FOR_ENROLLED=   # boolean, controll organization-wide if mfa required once enrolled   

# AES-256 Encryption Key
ENCRYPTION_KEY=

# API Request Configs
API_REQUEST_TIMEOUT=60000
API_FETCH_INTERVAL=100000

# Web Socket Configs
SOCKET_FRONTEND_PORT=37778


PUBLIC_URL= 



 
