ENVIRONMENT=development


DATABASE_URL=
DATABASE_NAME=

# Admin Account 
ADMIN_EMAIL=
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_PARTY=false

# JWT Auth Configs
SECRET=
JWT_SESSION=false

# AES-256 Encryption Key
ENCRYPTION_KEY=

# API Request Configs
API_REQUEST_TIMEOUT=60000
API_FETCH_INTERVAL=100000

# Web Socket Configs
SOCKET_FRONTEND_PORT=37778


# PUBLIC_URL=http://localhost:8000/
# REACT_APP_PORT=8000
# DETECT_HATE_SPEECH=false


 
